a {
  color: #622599;
}
a:hover {
  color: #999999;
  text-decoration: none;
}
li {
  list-style: none;
}
.aliadost {
  color: white;
  background-color: #C88EFF;
  padding: 4px;
  border-radius: 7px 7px 0px 0px;
}
.aliadosc {
  padding: 4px;
  margin-bottom: 14px;
  border: 1px solid #C88EFF;
  border-top: 0px;
  border-radius: 0px 0px 7px 7px;        
}
.bienvenida {
  color: #666;
  font-size: 120%;
  line-height: 1.4;
}
.bienvenida2 {
  color: #555;
  font-size: 130%;
  line-height: 1.2;
}
.btn-default {
  color: #fff;
  background-color: #4F1D7B;
  border: #2D005A
}
.btn-default:hover {
  color: #fff;
  background-color: #622599;
  border: #2D005A
}
.date:before {
  content: "Fecha: ";
}
.esquinas {
  border-radius: 0px 0px 10px 10px;
}
.headline {
  font-size: 150%;
  font-weight: bold;
  padding: 4px;
}
.iconored {
  color: white;
}
.iconored:hover {
  color: #8738D1;
}
.feedItemAuthor {
  color: #ffffff;
  border-radius: 0px 0px 5px 5px;
  background-color: #4F1D7B;
  padding: 4px;
  text-align: right;
}
.feedItemAuthor:before {
  content: "Publicado por ";
}
.tusencuestas_pregunta
{
  /* Define aquí el estilo de la pregunta */
  font-weight: bold;
}
.tusencuestas_respuestas
{
    /* Define aquí el estilo de las respuestas */
    color: #622599;
}
.tusencuestas_inferior
{
    /* Define aquí el estilo de la parte inferior de la encuesta */
    font-size: 12px;
    color: #333;
}
a.tusencuestas_inferior
{
    /* También referido a la parte inferior, pero en particular a los enlaces*/
    color: #7FB4F3;
}

input.tusencuestas_inferior
{
    /* También referido a la parte inferior, pero en particular al botón de votar */
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    font-size: 10px;    
    text-decoration:normal; 
    border: 1px;
}